:root {
  --default-white: #FFF4DB;
  --default-black: #111111;
  --default-grey:  #313131;
}

html {
  scroll-behavior: smooth;
  font-family: Roboto;
}

body {
  line-height: 1.75rem;
  font-size: 1.1rem;
  background-color: var(--default-black);
  color: var(--default-white);
  text-align: left;
}

header {
  border-bottom: 0.2rem solid var(--default-grey);
}

nav {
  text-align: center;
  margin: auto;
}

nav h2 {
  padding-left: 1vw;
}

nav a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--default-white);
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid var(--default-grey);
  font-size: 1.2rem;
  color: var(--default-white);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

a {
  color: var(--default-white);
}

.button {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    margin: 0 30vw;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 5vh 0;
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    text-align: left;
  }
  nav a {
    margin: 3vh 2vw;
    display: block;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
