---
title: Contact
---

<h2>Contact</h2>

<p>Feel free to send me an email or a message through any of my social media.</p>

<p>If you are interested in my resume, you can check my <a target="_blank" href="https://www.linkedin.com/in/leonardo-conrado/">LinkedIn</a>
        profile or email me asking for it.</p>

<a aria-label='Open your email client to write an email to l.conrado10@gmail.com' class='button' href="mailto:l.conrado10@gmail.com">Write email</a>