---
title: Web developer
---

<h2>Who's it?</h2>
<h3>I'm Leonardo Conrado</h3>

<img src="./images/profile.jpg" style="display: flex; float: left; border-radius: 50%; max-width: 100px; max-height: 100px; margin-right: 1em;" alt="Profile image of Leonardo Conrado" />

<p>Born in 2001, passionate about freedom, IT and learning.</p>

<p>Curiosity is what drives me.</p>

<hr style="margin-top: 4em;" />

<h2 >Software & Community</h2>

<p>Besides my contributions within the companies and teams I had the privilege to be a part of, in 2023 I made my first code contribution to
     <a href="https://github.com/Mephiles/torntools_extension/" target="_blank">TornTools</a>, an open-source project.
</p>

<p>The feedback received made me have the feeling of contributing to a community, a feeling I must admit I haven't felt since quite some time.
</p>

<p>As part of learning Haskell I created <a href="https://github.com/c0nradLC/homodoro" target="_blank">homodoro</a>, a pomodoro TUI
      application that I plan to extend and maintain as part of my Haskell journey.
</p>

<hr />

<h2>Hobbies</h2>

<p>I'm always trying to do something different, currently I'm very interested in Haskell, overall Functional Programming concepts
     and web3 (specially DeFi).
</p>

<p>I love traveling to get to know people, their culture, language, local knowledge, landscapes; I just try to observe and absorb
      everything I see value in, everywhere.
</p>

<p>I don't have the habit of writing for the public but I do want to start sharing some thoughts and experiences in this website.</p>

<em style="display: block;">thank you for your attention.</em>